footer {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
}

footer button {
	background: transparent;
	border: none;
	outline: none;
	color:white;
	padding:1rem;
	transition-duration: 300ms;
	cursor: pointer;
}
footer button i {
	font-size: 1.5rem;
}
footer button:hover {
	opacity: 0.7;

}

footer h1 {
	font-size: 2rem;
	color: rgb(255, 255, 255);
	
}
footer div {
	display: flex;
	flex-direction: column;
}
